@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35ps 55px rgba(0,0,0,0.1);
}

.container .left_Side{
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.8;
    font-weight: 300;
}

.contactInfo{
    padding-top: 40px;    
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}

.contactInfo ul li a{
    color: #fff;
    text-decoration: none;
}


.contactInfo.education li{
    margin-bottom: 15px;
}

.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
}

.contactInfo.education h4{
    color: #fff;
    font-weight: 300;
    margin-top: 5px;
}

.contactInfo.skill .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.skill .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
    transition: all 0.5s;
}

.container .right_Side{
    position: relative;
    background: #fff;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0
}

.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #333;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .year_company h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.project .box2{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    text-align: justify;
}

.project .box2 .title3 h4{
    text-transform: uppercase;
    color:#2a7da2;
    font-weight: 600;
}

.project .box2 .title3 h5{
    text-transform: uppercase;
    color: rgb(10, 7, 7);
    font-size: 10px;
    margin-top: 7px;
}

.project .box2 .title3 p{
    margin-top: 3px;
}

.project .box2 .title3 a{
    color: #2a7da2;
    text-decoration: none;
}

.about2 .title4{
    text-transform: uppercase;
    color: #003147;
}

.about2 p{
    color: #333;
    margin-top: 5px;
    line-height: 25px;
}

